/* Tìm kiếm */

/* cái này container*/
.sreach-container-product{
    display: flex;
    align-items: center;
    margin-left: 400px;
    margin-top: 50px;
}

/*Nút thêm*/
.button-add-product{
    border-radius: 0 4px 4px 0;
    padding: 8px;
    border: 1px solid #ccc;
    background-color: #CD853F;
    margin-left: 5px;
    width: 70px;
}

/* thêm hiệu ứng cho nút add */
.button-add-product:hover{
    font-size: 14px;
}




/*========================== CSS  Table ==================*/


#ProductTable{
    width:80%;
    border-collapse: collapse;
    border-color: black;
    margin-left: 110px;
}
#ProductTable th{
    background-color: rgb(222,184,135); 
    text-align: center;
 }
#ProductTable td{
    padding-left: 20px;
    text-align: left;
    vertical-align: middle;
    height: 25px;

}
#ProductTable tr{
    font-size: 16px;
    padding: 15px;
}

/*======================*/

/* Cái khung khi mở form từ nút Thêm*/

.container-form-product{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    display: flex;
    justify-content: center;
}


.form-product{
    text-align: center;
    border: 1px solid black;
    width: 250px;
    height: 300px;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 100px;
    background-color: white;
    
}

.product-id, .product-name, .product-price, .product-description{
    border: 1px solid grey;
    padding: 4px;
    margin-bottom: 10px;
    border-radius: 10px;
}

/* Điều chỉnh tag Select*/
.inputSelect-product{
    width: 180px;
    border-radius: 4px 0 0 4px;
    border: 1px solid grey;
    padding: 4px;
    margin-bottom: 10px;
    border-radius: 10px;
}
/*Dấu X để tắt*/
.button-add-product{
    width: 90px;
    height: 25px;
    background-color: #CD853F;
    border: 5px;
    border-radius: 5px;
}
/* Dấu X khi cái form được mở ra*/
.close-button-product{
    margin-left: 230px;
    cursor: pointer;
}

